@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif Vithkuqi',  serif;
}
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  --swiper-navigation-size: 20px; /* Set the desired size */
  --swiper-navigation-color: #000000;
  --swiper-navigation-sides-offset: 20px
  /* Set the desired color */
}